


    <div class="container">
        <div class="cart">
            <div class="Items">
              <div class="w-12 h-12 bg-[#4CAF50]/10 rounded-full flex items-center justify-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="green" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-activity w-6 h-6 text-[#4CAF50]" aria-hidden="true"><path d="M22 12h-2.48a2 2 0 0 0-1.93 1.46l-2.35 8.36a.25.25 0 0 1-.48 0L9.24 2.18a.25.25 0 0 0-.48 0l-2.35 8.36A2 2 0 0 1 4.49 12H2"></path></svg></div>
                <div class="info">
                    <h2>activity level</h2>
                    <p>how active are you?</p>
                </div>

            </div>
            <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
                <div class="inputs">
                    <div class="input1">
                        <input type="radio" value="sedentary" formControlName="activity">
                        <label>Sedentary</label>
                    </div>
                    <div class="input1">
                        <input type="radio" value="lightly_active" formControlName="activity">
                        <label>Lightly Active</label>
                    </div>
                    <div class="input1">
                        <input type="radio" value="moderately_active" formControlName="activity">
                        <label>Moderately Active</label>
                    </div>
                    <div class="input1">
                        <input type="radio" value="very_active" formControlName="activity">
                        <label>Very Active</label>
                    </div>
                    <div class="input1">
                        <input type="radio" value="extra_active" formControlName="activity">
                        <label>Extra Active</label>
                    </div>
                </div>
                <div class="links">
                    <a routerLink="/register/step3">back</a>
                    <button type="submit" class="btn-next">Complete</button>
                </div>
            </form>
           
        </div>

    </div>

